html,
body {
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  color: #2c2c2c;
  font-family: Poppins, sans-serif;
  background-color: #ffe66d;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  border: none;
}
